.footer {
  height: 100px;
  width: 100%;
  background-color: black;
  color: aliceblue;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.footerList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  width: 100%;
  height: 100%;
}
